<div class="content">
  <% if @comics.present? %>
    <div class="comics-grid">
      <% @comics.each do |comic| %>
        <%= render partial: 'comic', locals: { comic: comic }%>
      <% end %>
    </div>

    <div class="page-navigation">
      <%= render partial: 'page_navigation' %>
    </div>
  <% else %>
    <div class="no-results">
      <p class="no-results-message">
        Aww... Seems like there are no comics matching your filters. Try searching for another character :)
      </p>
    </div>
  <% end %>
</div>