@media (min-width:1000px){
  .content {
    margin: 0 15rem;
  }
}

.comics-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

.comic { 
  position: relative;
  margin: 0.5rem;

  .comic-cover-overlay {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    opacity: 0;
    transition: opacity 0.25s;

    .comic-title {
      width: 100%;
      min-height: 2.6rem;
      background-color: white;
      display: flex;
      align-items: center;
    }

    .comic-title-text {
      color: #1e1e1e;
      font-size: 0.7rem;
      font-weight: bold;
      margin: 0 0.5rem;
    }
  }

  .comic-cover-overlay.unfavourited {
    box-sizing: border-box;
    border-bottom: 0.3rem solid #ff0000;
    margin-bottom: -0.3rem;
  }
  .comic-cover-overlay.favourited {
    outline: 0.3rem solid #ff0000;
    outline-offset: -0.3rem;
    z-index: 999;
  }

  .comic-cover-overlay > * {
    transform: translateY(0.2rem);
    transition: transform 0.25s;
  }

  .comic-cover-overlay:hover {
    opacity: 1;
  }

  .comic-cover-overlay:hover > * {
    transform: translateY(0);
  }
}

.navigation {
  text-align: center;
  padding: 0 4.5rem;
  margin-top: 2rem;

  .page-navigation-button {
    background-color: white;
    color: #ed2324;
    padding: 0.2rem 0.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    width: 8.5rem;
  }

  .next {
    float: right;
    margin-bottom: 3rem;
  }

  .previous {
    float: left;
    margin-bottom: 3rem;
  }
}

.favourite-button-section {
  position: absolute;
  top: 0.2rem;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: flex-end;
}

.favourite-button, .unfavourite-button {
  cursor: pointer;
  margin: 0.4rem;
  height: 23px;
  width: 23px;
}

.favourite-button {
  border-style: hidden;
  background: image-url('heart_off.png');
  background-size: cover;
}

.favourite-button:hover {
  background: image-url('heart_hover.png');
  background-size: cover;
}

.unfavourite-button {
  border-style: hidden;
  background: image-url('heart_on.png');
  background-size: cover;
}